@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    color-scheme: only dark;
}

*:focus {
    outline: none;
}

.content {
    position: fixed;
    inset: 30% 40%;
    background-color: #252525;
    border-radius: 10px;
    z-index: 15;
    padding: 1rem;
    box-shadow: #000 0.1rem 0.1rem 0.5rem;
    overflow: scroll;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 14;
}

@media (max-width: 1024px) {
    .content {
        inset: 20% 10%;
    }
}

@media (max-width: 768px) {
    .content {
        inset: 15% 5%;
    }
}

@media (max-width: 640px) {
    .content {
        inset: 10% 2%;
        padding: 0.75rem;
    }
}

@media (max-width: 480px) {
    .content {
        inset: 5% 2%;
        padding: 0.5rem;
    }
}
